{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<div class="headerCave carousel-inner">
<img class="d-block w-100 " src="asset/img/contact.jpg" alt="Cave a Vin">
<div class="overlay"></div>
<div class="titrePage">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3 title_header">Contactez-nous</h1>
      </div>
    </div>
  </div>
</div>
</div>
</header>
<main>
<form class="form_contact">
    {{ include('contact_client/_form.html.twig') }}
</form>



{% endblock %}
