{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
<div class="headerCave carousel-inner">
<img class="d-block w-100" src="asset/img/reservation.jpg">
<div class="overlay"></div>
</div>
</header>
{% endblock %}
