{% extends 'base-admin.html.twig' %}

{% block title %}Edit Upload
{% endblock %}

{% block body %}
    <h4>Modifier la galerie</h4>

    <div class="editCont">

        {{ include('upload/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('upload_index') }}">
            <i class="fas fa-chevron-circle-left"></i>Retour à la liste des photos</a>

        {{ include('upload/_delete_form.html.twig') }}

    </div>
{% endblock %}
