{% extends 'base-admin.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('asset/css/uploadAdmin.css') }}" type="text/css">
{% endblock %}

{% block title %}New Upload{% endblock %}

{% block body %}
    
    

    {{ include('upload/_form.html.twig') }}

    <a href="{{ path('upload_index') }}">back to list</a>
{% endblock %}
