html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    /*background-color: grey;*/  
}

main {
    background-color: white;
    background-image: URL("../img/salleb.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80%;
}

.mainChild {
    width: 100%;
    height: 100%;  
    /*background: linear-gradient(to top, rgb(255, 255, 255) 5%, rgba(255, 255, 255, 0)50%, rgb(255, 255, 255) 95%);*/
}

.overlayResa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    width: 100%;
    height: 100%;
    background: #303030;
    opacity: .7;
}

section {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#calendar {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*box-shadow: 2px 0 4px rgba(0, 0, 0, 0.9), -2px 0 4px rgba(0, 0, 0, 0.9);*/
}

#currentMonth {    
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 14%;   
}

.daysHeader {
    width: 100%;
    height: 15%;
    color: rgba(255, 255, 255, 0.7); 
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 1%;
    /*background-color: rgb(29, 29, 29);
    border-radius: 10px 10px 0 0;
    background: linear-gradient(to bottom, rgb(48, 48, 48) 10%, rgb(29, 29, 29)50%, rgb(20, 20, 20)90%);*/
}

.daysHeader ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-inline-start: 0;
    margin-bottom: 0;
}

.daysHeader ul li {
    list-style-type: none;
    text-align: center;
    width: 14%;
    font-size: 0.8rem;
}

.dateContainer {
    width: 13.5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: top;
    margin-top: 1%;
    font-size: 0.8rem;  
    padding-right: 1%; 
    background: rgba(255, 255, 255, 0.03);
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.7); 
}

.dateContainer:hover {
    background-color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    color: black;
}

.dateContainer h5 {
    font-size: inherit;
    color: inherit;
}

.disabledLink {
    width: 13.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    cursor: not-allowed;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.7); 
}
/*
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

#selectHour {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.fullHeight {
    margin-bottom: 35% !important;
}

#selectHour h4 {
    text-align: center;
}

.selectHoursCont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 40%;
}

#selectHour h4 {
    color: white;
}

#moreEaters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80%;
}

#moreEaters h4 {
    color: white;
}

#eatersCont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}

#recapResa {
    width: 80%;
    height: 10%;
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: linear-gradient(to bottom, rgb(48, 48, 48) 10%, rgb(29, 29, 29)50%, rgb(20, 20, 20)90%);   
}

#recapResa a {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

#recapResa a i {
    color: white;
    font-size: 1.5rem;
    margin-right: 5px;
}

#heureRecap {
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);    
}

#dateRecap {
    border-radius: 30px 0 0 30px;
}

#nbClientsRecap {
    border-radius: 0 30px 30px 0;
}

.validRecap {
    background: linear-gradient(to bottom, rgb(0, 216, 0) 10%, rgb(0, 156, 0) 50%, rgb(0, 56, 0) 90%);
}

.publicInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.publicInputs p {
    color: white;
}*/






.flexForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.globalInputsCont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60%;
}

.form-resa {
    /*box-shadow: 1px 0 4px rgba(0, 0, 0, 0.9), -1px 0 4px rgba(0, 0, 0, 0.9);*/
    width: 100%;
    height: 30%;
    background: rgba(255, 255, 255, 0.03);
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.7);
    
}

textarea {
    background: rgba(255, 255, 255, 0.03);
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.7);
    margin:6% 0;
    width: 100%;
}


.form-resa:focus {
    border: 2px solid orange;
}

abbr {
    color: red;
    text-decoration: none !important;
    font-size: 1.5rem;
    margin-left: 1%;
    display: none;
}

#resaForm {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#resaForm p {
    color: rgba(255, 255, 255, 0.7);
}

#leftInputsContainer, #rightInputsContainer {
    width: 47%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 6.7%;
}

#leftInputsContainer {
    margin-right: 5%;
}

#rightInputsContainer {
    margin-left: 5%;
}

#remarques {
    width: 100%;
    margin: 4% 0 4% 0;
}

label {
    display: none;
}

::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

#submit {
    border-radius: 30px;
    background-color: #FF6107;
    color: white;
}

::selection {
    color: rgb(252, 252, 252);
    background: rgb(255, 97, 7);
}






.hidden {
    display: none !important;
}





