.row{
	margin:auto;
}
.portfolio-warp {
	position: relative;
	display: block;
    overflow: hidden;
    margin :1em 1% 1em 1%;
}

.single-portfolio {
	height: 580px;
	width: 33.33%;
	position: relative;
	float: left;
	display: block;
    background-position: center center;
    padding: 5px;
    -webkit-filter: grayscale(1);
    
}

.single-portfolio.sm-wide {
	width: 22.22%;
}

.single-portfolio:hover  {	
	-webkit-filter: grayscale(0);
}


.single-portfolio:hover .portfolio-info {
	opacity: 1;
	text-decoration: none;

}

.portfolio-info {
	position: absolute;
	width: calc(100% - 110px);
	height: calc(100% - 110px);
	left: 55px;
	top: 55px;
	text-align: center;
	padding-top: 220px;
	border: 1px solid #fff;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.portfolio-info .pfbg {
	position: absolute;
	width: 110%;
	height: 110%;
	left: -5%;
	top: -5%;
	-webkit-transform: scale(1.12);
	    -ms-transform: scale(1.12);
			transform: scale(1.12);
			-webkit-filter: brightness(50%);
	background-position: center center;
}

.portfolio-info h5 {
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	z-index: 9;
	position: relative;
	margin-bottom: 10px;
}

.portfolio-info p {
	font-size: 14px;
	color: #fff;
	z-index: 9;
	position: relative;
}

.portfolio-filter {
	list-style: none;
}

.portfolio-filter li {
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
	margin-right: 12px;
	color: #868686;
	font-weight: 600;
	cursor: pointer;
}

.portfolio-filter li.mixitup-control-active {
	color: #111;
}


li:hover,  li:focus, .menu-dish .active {
	background: rgba(255, 255, 255, 0.1); }
	.dish-entry,   .text {
	display: table-cell;
	vertical-align: top; }
   .image-menu {
	height: 170px;
	width: 170px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	box-shadow:2px 0 10px #222;
	 }
	 .image-menu:hover {
	 	box-shadow:2px 0 20px #222;
	 }
	.text {
	padding-left: 33px; 
	font-size:14px;}
	 .text h3 {
	  margin: 10px 0 10px 0;
	  font-size: 17px;
	  font-weight: 700; }
	  @media screen and (max-width: 768px) {
		 li .text h3 {
		  margin-top: 0px; } }

.hidden{
display: none;}

.contrainer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-between;
	align-items:space-around;
}
.entree, .plat, .dessert{
	width:45%;
	padding:15px;	
}

.follow  {
	/* display: inline-block; */
	cursor: default;
	margin: 2em;
	position: relative;
	text-align: center;
	width:100%;
}
.follow:hover .label {
	  opacity: 0;
	  transition: opacity .5s 0.125s ease-out;
	}
.follow:hover .icon {
		border-radius: 1em;
		margin: 0 0;
		opacity:1;
	  }
	  .icon{
    background-color: lightgray;
    box-shadow: 2px 0 10px #222;
   	line-height: 2rem;
   	opacity:0;}
  	.icon:hover{
  		box-shadow:2px 0 20px #222;
  		}
	  
	  .label {
  border-radius: 1rem;
  position: absolute;
  text-align:center;
  font-size: 1em;
  font-weight: 900;
  letter-spacing: .0816em;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  pointer-events: none;
  text-transform: uppercase;
  transition: opacity .5s .75s ease-out;
  height:3em;
    background-color: lightgray;
    box-shadow: 2px 0 10px #222;
   	line-height: 2rem;
}
	  .icon {
		border-radius: 1em;
		cursor: pointer;
		display: inline-block;
		height: 2em;
		margin: 0 -.5em;
		padding: 1px;
		width: 30%;
		height:3em;
		transition: opacity .5s .125s ease-out;
	  }
	  .icon .first {
		border-bottom-left-radius: 1em;
		border-top-left-radius: 1em;
		margin-left: 0;
	  }
	  
	  .icon .last {
		border-bottom-right-radius: 1em;
		border-top-right-radius: 1em;
		margin-right: 0;
	
	  }
	  
	
	

	
		
	
	
/* .image-menu {
	height: 200px;
	width: 200px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%; }

.text {
		display: table-cell;
		vertical-align: top; 
		padding-left: 33px; }
.text h3 {
		margin: 10px 0 10px 0;
		font-size: 35px;
		font-weight: 700; }
 @media screen and (max-width: 850px) {
.text h3 {
	margin-top: 0px; } }
	.text .cat {
		color: #7d7d7d;
		font-size: 30px; }
	.text .price {
		position: absolute;
		top: 20px;
		right: 10px;
		font-size: 24px;
		color: #404044;
		font-family: "Lora", Georgia, serif; }
		@media screen and (max-width: 850px) {
	.text .price {
		right: 0;
		top: 0px;
		position: relative;
		display: block;
		margin-bottom: 0px; } }
	li {
		padding: 0;
		margin: 0;
		list-style: none;
		display: block;
		position: relative;
		padding: 10px;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s; }
 */


@media only screen and (max-width: 1024px) {

	.single-portfolio {
		height: 320px;
		width: 50%; 
		-webkit-filter: grayscale(0); 
	}
	
	.single-portfolio.sm-wide {
		width: 50%;
	}
	
	.portfolio-info h5 {
		margin-bottom: 3px;
		letter-spacing: 0.5px;
	}
	
	.portfolio-info {
	width: calc(100% - 110px);
		height: calc(100% - 110px);
		left: 55px;
		top: 55px;
		text-align: center;
		padding-top: 90px;
	}
	
	.portfolio-info {
		opacity: 1;
		
	
	}

}
@media only screen and (max-width: 850px) {
.single-portfolio {
	width: 100%;  
}

.single-portfolio.sm-wide {
		width: 100%;
	}
}
