.row {
	margin: auto;
}

.portfolio-warp {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 1em 1% 1em 1%;
}

.single-portfolio {
	height: 580px;
	width: 33.3333%;
	position: relative;
	float: left;
	display: block;
	background-position: center center;
	padding: 5px;
	-webkit-filter: grayscale(1);
}

.single-portfolio.sm-wide {
	width: 22.22%;
}

.single-portfolio:hover {
	-webkit-filter: grayscale(0);
}

.single-portfolio:hover .portfolio-info {
	opacity: 1;
	text-decoration: none;
}

.portfolio-info {
	position: absolute;
	width: calc(100% - 110px);
	height: calc(100% - 110px);
	left: 55px;
	top: 55px;
	text-align: center;
	padding-top: 220px;
	border: 1px solid #fff;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.portfolio-info .pfbg {
	position: absolute;
	width: 110%;
	height: 110%;
	left: -5%;
	top: -5%;
	-webkit-transform: scale(1.12);
	-ms-transform: scale(1.12);
	transform: scale(1.12);
	-webkit-filter: brightness(50%);
	background-position: center center;
}

.portfolio-info h5 {
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	z-index: 9;
	position: relative;
	margin-bottom: 10px;
}

.portfolio-info p {
	font-size: 14px;
	color: #fff;
	z-index: 9;
	position: relative;
}

.portfolio-filter {
	list-style: none;
}

.portfolio-filter li {
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
	margin-right: 12px;
	color: #868686;
	font-weight: 600;
	cursor: pointer;
}

.portfolio-filter li.mixitup-control-active {
	color: #111;
}

.dish-entry, .text {
	display: table-cell;
	vertical-align: top;
}

.image-menu {
	height: 170px;
	width: 170px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	box-shadow: 2px 0 10px #222;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.image-menu:hover {
	box-shadow: 2px 0 20px #222;
}

.image-cave {
	height: 170px;
	width: 170px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	box-shadow: 2px 0 10px #222;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.image-cave:hover {
	box-shadow: 2px 0 20px #222;
}

.textMenu {
	padding-left: 33px;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	font-family: Lora, sans-serif;
}

.textMenu h3 {
	margin: 10px 0 10px 0;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}

@media screen and (max-width: 768px) {
	li .text h3 {
		margin-top: 0px;
	}
}

.hidden {
	display: none !important;
}

.containerMenu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: space-around;
}

.containerCarte {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.entree, .plat, .dessert {
	width: 45%;
	padding: 15px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.rouge, .blanc, .rose {
	width: 45%;
	padding: 15px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.navCarte {
	width: 80%;
	margin: 0 auto;
	background: #fff;
	padding: 50px 0;
	display: flex;
	justify-content: center;
}

.navCarte .nav-tabs {
	list-style: none;
	text-align: center;
}

.navCarte .nav-tabs .liMenu {
	display: inline-block;
}

.navCarte .nav-tabs .liMenu .linkMenu {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: #aaa;
	font-weight: 800;
	text-transform: uppercase;
	margin: 0 10px;
	font-size: 20px;
}

.active {
	color: black !important;
}

.navCarte .nav-tabs .liMenu .linkMenu:hover, .active {
	color: #555;
}

.navCarte .nav-tabs .liMenu .linkMenu {
	position: relative;
}

.navCarte .nav-tabs .liMenu .linkMenu:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: orange;
	height: 1px;
}

.navCarte .nav-tabs .liMenu .linkMenu:hover:after {
	width: 100%;
}

#ct {
	text-align: center;
	margin: 2% 20%;
}

.formuleMenu {
	background: white;
	color: black;
	font-size: 25px;
	font-family: Lora, sans-serif;
	font-weight: 700;
	margin-top: 2%;
}

.formule {
	/* padding-top:13px; */
	font-size: 21px;
	color: black;
	font-style: italic;
}

@media only screen and (max-width: 1024px) {
	.single-portfolio {
		height: 320px;
		width: 50%;
		-webkit-filter: grayscale(0);
	}
	.single-portfolio.sm-wide {
		width: 50%;
	}
	.portfolio-info h5 {
		margin-bottom: 3px;
		letter-spacing: 0.5px;
	}
	.portfolio-info {
		width: calc(100% - 110px);
		height: calc(100% - 110px);
		left: 55px;
		top: 55px;
		text-align: center;
		padding-top: 90px;
	}
	.portfolio-info {
		opacity: 1;
	}
	.image-menu {
		height: 200px;
		width: 200px;
	}
	.image-cave {
		height: 200px;
		width: 200px;
	}
	.containerMenu {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.rouge, .blanc, .rose {
		width: 50%;
	}
	.entree, .plat, .dessert {
		width: 50%;
	}
	.navCarte .nav-tabs .liMenu .linkMenu {
		font-size: 20px;
	}
	#ct {
		text-align: center;
		margin: 2% 10%;
	}
	.formuleMenu {
		background: white;
		color: black;
		font-size: 30px;
		font-family: Lora, sans-serif;
		font-weight: 700;
	}
	.formule {
		/* padding-top:13px; */
		font-size: 25px;
		color: black;
	}
}

@media only screen and (max-width: 767px) {
	.single-portfolio {
		width: 100%;
	}
	.single-portfolio.sm-wide {
		width: 100%;
	}
	.image-menu {
		height: 100px;
		width: 100px;
	}
	.image-cave {
		height: 100px;
		width: 100px;
	}
	.containerMenu {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.rouge, .blanc, .rose {
		width: 100%;
	}
	.entree, .plat, .dessert {
		width: 100%;
	}
	.navCarte .nav-tabs .liMenu .linkMenu {
		font-size: 13px;
		padding: 10px;
	}
	#ct {
		text-align: center;
		margin: 2% 5%;
	}
	.formuleMenu {
		background: white;
		color: black;
		font-size: 20px;
		font-family: Lora, sans-serif;
		font-weight: 700;
	}
	.formule {
		/* padding-top:13px; */
		font-size: 18px;
		color: black;
	}
	.navCarte .nav-tabs .liMenu .linkMenu {
		font-size: 13px;
		padding: 10px;
	}
}

.cat {
	text-align: center;
}

blockquote {
	margin: 2% 0;
}

.separationCarte {
	width: 80%;
}