.row{
	margin:auto;
}
.portfolio-warp {
	position: relative;
	display: block;
    overflow: hidden;
    margin :1em 1% 1em 1%;
}

.single-portfolio {
	height: 580px;
	width: 33.33%;
	position: relative;
	float: left;
	display: block;
    background-position: center center;
    padding: 5px;
    -webkit-filter: grayscale(1);
    
}

.single-portfolio.sm-wide {
	width: 22.22%;
}

.single-portfolio:hover  {	
	-webkit-filter: grayscale(0);
}


.single-portfolio:hover .portfolio-info {
	opacity: 1;
	text-decoration: none;

}

.portfolio-info {
	position: absolute;
	width: calc(100% - 110px);
	height: calc(100% - 110px);
	left: 55px;
	top: 55px;
	text-align: center;
	padding-top: 220px;
	border: 1px solid #fff;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.portfolio-info .pfbg {
	position: absolute;
	width: 110%;
	height: 110%;
	left: -5%;
	top: -5%;
	-webkit-transform: scale(1.12);
	    -ms-transform: scale(1.12);
			transform: scale(1.12);
			-webkit-filter: brightness(50%);
	background-position: center center;
}

.portfolio-info h5 {
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	z-index: 9;
	position: relative;
	margin-bottom: 10px;
}

.portfolio-info p {
	font-size: 14px;
	color: #fff;
	z-index: 9;
	position: relative;
}

.portfolio-filter {
	list-style: none;
}

.portfolio-filter li {
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
	margin-right: 12px;
	color: #868686;
	font-weight: 600;
	cursor: pointer;
}

.portfolio-filter li.mixitup-control-active {
	color: #111;
}

.menu-dish {
	padding: 0 2em;
	margin: 0; }
	@media screen and (max-width: 768px) {
	  .menu-dish {
		padding: 0; } }
	.menu-dish li {
	  padding: 0;
	  margin: 0;
	  list-style: none;
	  display: block;
	  position: relative;
	  padding: 10px;
	  -webkit-transition: 0.3s;
	  -o-transition: 0.3s;
	  transition: 0.3s; }
	  .menu-dish li:hover, .menu-dish li:focus, .menu-dish li.active {
		background: rgba(255, 255, 255, 0.1); }
	  .menu-dish li .dish-entry, .menu-dish li .text {
		display: table-cell;
		vertical-align: top; }
	  .menu-dish li .dish-img {
		height: 170px;
		width: 170px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		border-radius: 50%; }
	  .menu-dish li .text {
		padding-left: 33px; }
		.menu-dish li .text h3 {
		  margin: 10px 0 10px 0;
		  font-size: 35px;
		  font-weight: 700; }
		  @media screen and (max-width: 768px) {
			.menu-dish li .text h3 {
			  margin-top: 0px; } }
		.menu-dish li .text .cat {
		  color: #7d7d7d;
		  font-size: 30px; }
		.menu-dish li .text .price {
		  position: absolute;
		  top: 20px;
		  right: 10px;
		  font-size: 24px;
		  color: #404044;
		  font-family: "Lora", Georgia, serif; }
		  @media screen and (max-width: 480px) {
			.menu-dish li .text .price {
			  right: 0;
			  top: 0px;
			  position: relative;
			  display: block;
			  margin-bottom: 0px; } }
  
  .tab-pane {
	padding: 2em 0;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s; }
  
  .nav-tabs {
	border: none;
	border-bottom: none;
	display: inline-block;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s; }
	.nav-tabs li {
	  margin: 0 auto;
	  font-size: 35px;
	  display: block;
	  font-weight: 500; }
	  @media screen and (max-width: 768px) {
		.nav-tabs li {
		  font-size: 37px; } }
	  .nav-tabs li a {
		border: none !important;
		border-bottom: none !important;
		background: transparent;
		color: #404044;
		bordeR: 1px solid red;
		padding: 0;
		margin: 0 1em; }
		.nav-tabs li a:hover, .nav-tabs li a:focus {
		  background: transparent; }
	  .nav-tabs li.active a {
		border: none !important;
		border-bottom: none !important;
		color: #404044 !important;
		background: transparent !important;
		position: relative; }
		.nav-tabs li.active a:after {
		  position: absolute;
		  bottom: -5px;
		  left: 0;
		  right: 0;
		  content: '';
		  width: 100%;
		  height: 2px;
		  background: #FF6107;
		  margin: 0 auto; }


@media only screen and (max-width: 1024px) {

	.single-portfolio {
		height: 320px;
		width: 50%; 
		-webkit-filter: grayscale(0); 
	}
	
	.single-portfolio.sm-wide {
		width: 50%;
	}
	
	.portfolio-info h5 {
		margin-bottom: 3px;
		letter-spacing: 0.5px;
	}
	
	.portfolio-info {
	width: calc(100% - 110px);
		height: calc(100% - 110px);
		left: 55px;
		top: 55px;
		text-align: center;
		padding-top: 90px;
	}
	
	.portfolio-info {
		opacity: 1;
		
	
	}

}
@media only screen and (max-width: 850px) {
.single-portfolio {
	width: 100%;  
}

.single-portfolio.sm-wide {
		width: 100%;
	}
}
