body {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url("../img/imagesAdmin/bgblue.jpg");
    background-size: cover;
    margin: 0;
    }

section {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 40%;
    left: 25%;
    top: 30%;
    background-color: rgb(39, 39, 39);
    box-shadow: 5px 0px 8px rgb(0, 0, 0), -5px 0px 8px rgb(0, 0, 0); 
    padding: 3% 5% 1% 5%;
}

section h3 {
    color: white;
    margin: 0;
}

.sectionHeader {
    position: absolute;
    width: 50%;
    height: 10%;
    left: 25%;
    top: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    z-index: 100;
}

.topCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;    
    border-radius: 50%;
    background-color: rgb(53, 231, 255);
    box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.6) inset, -1px 0px 8px rgba(0, 0, 0, 0.6) inset, 0px 1px 8px rgba(0, 0, 0, 0.6) inset, 0px -1px 8px rgba(0, 0, 0, 0.6) inset;
}

.hiddenCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.7), -2px 0px 8px rgba(0, 0, 0, 0.7), 0px 1px 8px rgba(0, 0, 0, 0.7), 0px -1px 8px rgba(0, 0, 0, 0.7);
    z-index: -1000;
}

.insideCircle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: rgb(39, 39, 39);
    box-shadow: 1px 0px 8px rgb(0, 0, 0), -1px 0px 8px rgb(0, 0, 0), 0px 1px 8px rgb(0, 0, 0), 0px -1px 8px rgb(0, 0, 0);
}

.fas {
    color: white !important;
    font-size: 3rem !important;
}

form {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: rgb(1, 170, 192); 
    box-shadow: 0 2px 4px rgb(19, 19, 19), 0 -2px 4px rgb(19, 19, 19);
    color: white;
    width: 30%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.btn .far {
    margin-right: 10px;
}

.btn:hover {
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 20%;
    box-shadow: 0 2px 4px rgb(19, 19, 19), 0 -2px 4px rgb(19, 19, 19);
}

.backInput {
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    box-shadow: 1px 1px 1px rgb(51, 51, 51) inset, -1px -1px 1px rgb(51, 51, 51) inset;
    border-radius: 2px;
}

.formTrue, .formFalse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    border-radius: 0 3px 3px 0;
    margin-left: 1px;
}

.formTrue {
    background-color: rgb(1, 170, 192);
}

.formFalse {
    background-color: rgb(255, 94, 0);
}

.falseAlert {
    box-shadow: 0 2px 4px rgb(255, 94, 0), 0 -2px 4px rgb(255, 94, 0) !important;
}

.formTrue .far {
    font-size: 1.2rem !important;   
    color: white; 
}

.formFalse .fas {
    font-size: 1.2rem !important;   
    color: white;
}

label {
    width: 30%;
    color: rgb(1, 170, 192);
    margin-bottom: 0;
    text-align: center;
}

input {
    background-color: rgb(19, 19, 19) !important;
    width: 70%;
    height: 100%;
    border: none !important;
    box-shadow: 0 1px 4px rgb(19, 19, 19) inset, 0 -1px 4px rgb(19, 19, 19) inset, 1px 1px 1px rgb(51, 51, 51), -1px -1px 1px rgb(51, 51, 51);
    color: white !important;
    border-radius: 2px;
    text-align: center;
}

input:focus {
    border: 1px solid rgb(1, 170, 192) !important;
}

.hidden {
    display: none;
}

@media screen and (max-width: 850px) {

    body {
        background-image: url("../img/imagesAdmin/bgblueLight.jpg");
    }

    section {
        width: 90%;
        height: 60%;
        left: 5%;
        top: 20%;
        background-color: rgb(39, 39, 39);
        box-shadow: 5px 0px 8px rgb(0, 0, 0), -5px 0px 8px rgb(0, 0, 0); 
        padding: 15% 3% 2% 3%;
    }

    section h3 {
        font-size: 1.4rem;
    }

    .sectionHeader {
        width: 90%;
        height: 20%;
        left: 5%;
        top: 8%;
    }

    .btn {
        width: 50%;
    }

    .inputContainer {
        width: 100%;
        height: 20%;
    }
}
