/* skins divers */


.inputContainer {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 5%;
    margin-left: 15%;
    box-shadow: 0 2px 4px rgb(19, 19, 19), 0 -2px 4px rgb(19, 19, 19);
}

.backInput {
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 94%;
    height: 100%;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    box-shadow: 1px 1px 1px rgb(51, 51, 51) inset, -1px -1px 1px rgb(51, 51, 51) inset;
    border-radius: 2px;
}

.formTrue, .formFalse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6%;
    height: 100%;
    border-radius: 0 3px 3px 0;
    margin-left: 1px;
}

.formTrue {
    background-color: rgb(1, 170, 192);
}

.formFalse {
    background-color: rgb(255, 94, 0);
}

.falseAlert {
    box-shadow: 0 2px 4px rgb(255, 94, 0), 0 -2px 4px rgb(255, 94, 0) !important;
}

.formTrue .far {
    font-size: 1.8rem;   
    color: white; 
}

.formFalse .fas {
    font-size: 1.8rem;   
    color: white;
}

label {
    width: 25%;
    color: rgb(1, 170, 192);
    margin-bottom: 0;
    text-align: center;
}

input {
    background-color: rgb(19, 19, 19);
    width: 75%;
    height: 100%;
    border: none;
    box-shadow: 0 1px 4px rgb(19, 19, 19) inset, 0 -1px 4px rgb(19, 19, 19) inset, 1px 1px 1px rgb(51, 51, 51), -1px -1px 1px rgb(51, 51, 51);
    color: white;
    border-radius: 2px;
    text-align: center;
}

input:focus {
    border: 1px solid rgb(1, 170, 192) !important;
}

.dayParam {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    height: 25%;
    margin-left: 20%;
    background-color: rgb(41, 41, 41);
    color: white;
    box-shadow: 0 2px 4px rgb(19, 19, 19), 0 -2px 4px rgb(19, 19, 19);
    border-radius: 2px;
    margin-bottom: 5%;
}

.dayParam h3 {
    font-size: 1rem;
    font-weight: 400;
    width: 40%;
    margin: 0;
    text-align: center;
}

.firstRow, .secondRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 20%;
    margin-bottom: 2%;
}

.secondRow {
    border-top: 2px solid rgb(27, 27, 27);
}

.spaceBlock {
    width: 40%;
}

.dateContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: 0;
    background-color: rgb(1, 170, 192);
    border-radius: 2px 0 10px 0;
    box-shadow: 0 2px 4px rgb(19, 19, 19), 0 -2px 4px rgb(19, 19, 19);
}

.dateContainer h5 {
    font-size: 1rem;
    color: white;
    text-align: center;
}

.labelCont, .firstLabelCont {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;    
    padding-left: 4%;
    padding-right: 2%;
}

.firstLabelCont {
    border-top: 3px solid rgb(1, 170, 192);
}

.labelCont h5, .firstLabelCont h5 {
    font-size: 0.8rem;
    color: rgb(19, 19, 19);
    margin-top: 8%;
}

.midiParam, .soirParam {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2%;
    padding-right: 2%;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    margin-left: 5%;
    height: 100%;
    background-color: rgb(41, 41, 41);
    border-radius: 2px;
    border: 1px solid rgb(35, 35, 35);
    box-shadow: 0 2px 4px rgb(19, 19, 19), 0 -2px 4px rgb(19, 19, 19), 0 1px 20px rgb(19, 19, 19) inset, 0 -1px 20px rgb(19, 19, 19) inset;
}

.railClose, .railOpen {
    background: linear-gradient(rgb(41, 41, 41), rgb(17, 17, 17), rgb(41, 41, 41));
    height: 4px;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgb(49, 49, 49), 0 -1px 4px rgb(49, 49, 49);
}

.railOpen{
    width: 45%;
    margin-right: 5%;
    margin-left: 0;
}

.railClose {
    width: 0;
    margin-left: 0;
    margin-right: 0;
}

.buttonParam {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    background-color: rgb(68, 68, 68);
    border-radius: 2px;
    box-shadow: 0 3px 4px rgb(19, 19, 19), 0 -3px 4px rgb(19, 19, 19);
    border: 1px solid rgb(112, 112, 112);
}

.btn:focus {
    box-shadow: none !important;
}

.buttonParam .fas {
    transform: rotate(90deg);
    color: rgb(43, 43, 43);
}

.buttonParam .fas:hover {
    transform: rotate(90deg);
    font-size: 1.8rem;
}

.topControls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15%;
}

.carousel-control-next, .carousel-control-prev {
    position: relative;
    top: 0.4%;
    height: 100%;
}

.topControls h3 {
    color: white;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 2%;
}

/* ANIMATIONS BOUTONS GLISSANTS */

.openStatutLeft {
    animation: animateOpenLeft 0.5s linear forwards;
}

.closeStatutLeft {
    animation: animateCloseLeft 0.5s linear forwards;
}

.openStatutRight {
    animation: animateOpenRight 0.5s linear forwards;
}

.closeStatutRight {
    animation: animateCloseRight 0.5s linear forwards;
}

@keyframes animateCloseLeft {
    0% {
        width: 45%;
        margin-left: 5%;
        }
    99%{
        margin-left: 5%;
    }
    100%
        {
        width: 0%;
        margin-left: 0%;
        }       
    }

@keyframes animateOpenLeft {
0% {
    width: 0%;
    margin-left: 0%;
    }
    1% {
        margin-left: 5%;
    }
100%
    {
    width: 45%;
    margin-left: 5%;
    }       
}

@keyframes animateCloseRight {
    0% {
        width: 45%;
        margin-right: 5%;
        }
        99%{
            margin-right: 5%;
        }
    100%
        {
        width: 0%;
        margin-right: 0%;
        }       
    }

@keyframes animateOpenRight {
0% {
    width: 0%;
    margin-right: 0%;
    }
    1% {
        margin-right: 5%;
    }
100%
    {
    width: 45%;
    margin-right: 5%;
    }       
}

/* FIN ANIMATION BOUTONS GLISSANTS */

/* ANIMATIONS CHANGEMENTS COULEURS SELON LE STATUT ( OUVERT / FERMÉ ) */

.defaultActive {
    color: rgb(1, 170, 192) !important;
}

.blueLabel {
    animation: animateLabelBlue 1s linear forwards;
    animation-delay: 0.5s;
}

.orangeLabel {
    animation: animateLabelOrange 1s linear forwards;
    animation-delay: 0.5s;
}

.inactive {
    animation: animateLabelDark 1s linear forwards;
    animation-delay: 0.5s;
}

.orangeIcon {
    animation: animateIconOrange 1s linear forwards;
    animation-delay: 0.5s; 
}

.blueIcon {
    animation: animateIconBlue 1s linear forwards;
    animation-delay: 0.5s; 
}

@keyframes animateLabelBlue {
0% {   
    color: rgb(19, 19, 19); 
    }
100% {    
    color: rgb(1, 170, 192);
    }
}

@keyframes animateLabelOrange {
0% {    
    color: rgb(19, 19, 19); 
    }
100% {    
    color: rgb(255, 94, 0);
    }
}

@keyframes animateIconBlue {
    0% {
        
        }
    100% {        
        color: rgb(1, 170, 192);
        }
    }

@keyframes animateIconOrange {
    0% {
          
        }
    100% {            
        color: rgb(255, 94, 0);
        }
    }

/* FIN ANIMATIONS CHANGEMENTS COULEURS */

.hidden {
    display: none;
}

#mystery {
    width: 17%;
    height: 20%;
    background-color: #ffe100;
    border-radius: 30px;
    color: white;
    border: none;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("../img/imagesAdmin/danger-zone-.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.newThemeColor {
    background-color: rgb(252, 109, 133) !important;
}

.themeMainColor {
    background-color: white;
}

.themeTransparrency {
    background-color: rgba(255, 45, 80, 0.7) !important;
}

.pinkBG {
    background-color: rgb(255, 45, 80) !important;
}

.pinkColor {
    color: rgb(255, 45, 80) !important;
}

.whiteColor {
    color: white !important;
}

.cardBgSurprise {
    background-color: rgb(255, 45, 80);
    background-image: url("../img/imagesAdmin/arcEnCiel.png");
    background-size: cover;
}

.footerBgSurprise {
    background-color: white;
    background-image: url("../img/imagesAdmin/themefooter.png");
    background-size: cover;
    box-shadow: none;
}

.headerBgSurprise {
background-color: white;
background-image: url("../img/imagesAdmin/unicorn.png");
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
box-shadow: none;
}

.resetLinear {
    background: none; 
}
