html {
    height: 100%;
}

header {
    background-image: URL("../img/menu/img-bg-4.jpg");
    background-size: cover;
    height: 80vh;
}

body {
    width: 100%;
    height: 100%; 
}

main {
    background-color: #303030;
    width: 100%;
    height: 80%;
}

.mainChild {
    width: 100%;
    height: 100%;  
    background-color: #303030;
    background-image: URL("../img/reservations/salleMV.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
}

.overlayResa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    width: 100%;
    height: 100%;
    background: #303030;
    opacity: .8;    
}

.linearG {
    width: 100%;
    height: 100%;
    background: linear-gradient(#303030, rgba(255, 255, 255, 0), #303030);
}

section {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#calendar {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.calHeadSlider h3 {
    color: rgba(255, 255, 255, 0.7); 
    text-align: center;
}

#currentMonth, #nextMonth { 
    display: none;   
    height: 79%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 14%;   
}

.daysHeader {
    width: 100%;
    height: 10%;
    color: rgba(255, 255, 255, 0.9);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 1%;
}

.daysHeader ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-inline-start: 0;
    margin-bottom: 0;
}

.daysHeader ul li {
    list-style-type: none;
    text-align: center;
    width: 14%;
    font-size: 0.8rem;
}

.dateContainer {
    width: 13.5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: top;
    margin-top: 1%;
    font-size: 0.8rem;  
    padding-right: 1%; 
    background: rgba(255, 255, 255, 0.03);
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.9); 
}

.dateContainer:hover {
    background-color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    color: black;
}

.dateContainer h5 {
    font-size: inherit;
    color: inherit;
}

.disabledLink {
    width: 13.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    cursor: not-allowed;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.7); 
}

.flexForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.globalInputsCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60%;
}

.form-resa {
    width: 100%;
    height: 20%;
    background: rgba(255, 255, 255, 0.03);
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.9);
    padding-left: 2%;
}

.form-resa:focus {
    border: 2px solid orange;
}

abbr {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none !important;
    font-size: 1.5rem;
    display: none;
}

#abbrTitle {
    display: inline;
}

#resaForm {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#resaForm p {
    color: rgba(255, 255, 255, 0.7);
    width: 100%;
    text-align: center;
}

#leftInputsContainer, #rightInputsContainer {
    width: 47%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 6.7%;
}

#leftInputsContainer {
    margin-right: 5%;
}

#rightInputsContainer {
    margin-left: 5%;
}

#remarques {
    width: 100%;
    margin: 4% 0 4% 0;
}

label {
    display: none;
}

::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

#submit {
    width: 40%;
    border-radius: 30px;
    background-color: #FF6107;
    color: white;
}

::selection {
    color: rgb(252, 252, 252);
    background: rgb(255, 97, 7);
}

.hidden {
    display: none !important;
}

.hiddenSmall {
    
}

.topControls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
}

.carousel-control-next, .carousel-control-prev {
    position: relative;
    top: 0.4%;
    height: 100%;
}

#carouselResaControls, .carousel-inner {
    height: 100%;
    width: 100%;
}

.passed {
    cursor: not-allowed;
    background: rgba(255, 255, 255, 0.4);
}

.forbidden {
    cursor: not-allowed !important;
    background: rgba(255, 255, 255, 0.4) !important;
}

.redBg {
    background-color: red;
}

option {
    background-color: rgb(66, 66, 66);
}

optgroup {
    background-color: rgb(27, 27, 27);
}

.transitionCal {
    animation: appendCal 0.2s linear forwards;
}

@keyframes appendCal {
    0% {
        width: 0%;
        
        }   
    100%
        {
        width: 50%;

        }       
    }


