{% extends 'base-admin.html.twig' %}

{% block title %}Carte-Edit{% endblock %}
{% block h2 %}Gestion de la carte{% endblock %}
{% block link %}{% endblock %}
{% block h3 %}Carte{% endblock %}

{% block body %}
    <h4>MODIFIER UN PLAT</h4>

    <div class="editCont">

    {{ include('menu/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('menu/_delete_form.html.twig') }}    

      <a href="{{ path('menu_index') }}"><i class="fas fa-chevron-circle-left"></i>Retour à la liste des plats</a>
</div>

{% endblock %}
