{% extends 'base-admin.html.twig' %}

{% block title %}Edit CaveVin
{% endblock %}

{% block body %}
    <h4>Modifier la carte des vins</h4>

    <div class="editCont">

        {{ include('cave_vin/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('cave_vin_index') }}">
            <i class="fas fa-chevron-circle-left"></i>Retour à la liste des vins</a>

        {{ include('cave_vin/_delete_form.html.twig') }}

    </div>
{% endblock %}
