{% extends 'base.html.twig' %}

{% block title %}Edit CaveVin{% endblock %}

{% block body %}
    <h1>Edit CaveVin</h1>

    {{ include('cave_vin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('cave_vin_index') }}">back to list</a>

    {{ include('cave_vin/_delete_form.html.twig') }}
{% endblock %}
