{% extends 'base.html.twig' %}

{% block title %}New CaveVin{% endblock %}

{% block body %}
    <h1>Create new CaveVin</h1>

    {{ include('cave_vin/_form.html.twig') }}

    <a href="{{ path('cave_vin_index') }}">back to list</a>
{% endblock %}
