{% extends 'base-admin.html.twig' %}

{% block title %}New CaveVin
{% endblock %}

{% block body %}
    <h4>Ajouter un vin</h4>

    {{ include('cave_vin/_form.html.twig') }}

    <a href="{{ path('cave_vin_index') }}">
        <i class="fas fa-chevron-circle-left"></i>Retour à la liste des vins</a>

</div>{% endblock %}
