{% extends 'base.html.twig' %}

{% block title %}Hello CarteController!{% endblock %}

{% block body %}

<div class="headerCave carousel-inner">
<img class="d-block w-100 " src="asset/img/carte.jpg" alt="Cave a Vin">
<div class="overlay"></div>
</div>
</header>
{% endblock %}
