{% extends 'base.html.twig' %}



{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<div id="carousel-accueil">
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
  <div class="overlay"></div>
    <source src="asset/video/Intro.webm" type="video/webm">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3 title_header">Maison MV</h1>
      </div>
    </div>
  </div>

  <div class="bandeau">
  <div class="col-md-3">
  <i class="far fa-map"></i>
    <p>Text Test ADRESSE</p>
  </div>
  <div class="col-md-3">
  <i class="fas fa-clock"></i>
  <p>Text Test OUVERTURE</p>
  </div>
  <div class="col-md-3">
  <i class="fas fa-mobile-alt"></i>
  <p>Text Test TELEPHONE</p>
  </div>
  <div class="col-md-3">
  <i class="fas fa-envelope"></i>
  <p>Text Test EMAIL</p>
  </div>
  </div>
  
  </div>
  </div>
</header>
<main>


{% endblock %}
