{% extends 'base-accueil.html.twig' %}



{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<div id="carousel-accueil">
	<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
		<div class="overlay"></div>
		<source src="asset/video/Intro.webm" type="video/webm">
	</video>
	<div id="title_header" class="container h-100">
		<div class="d-flex h-100 text-center align-items-center">
			<div class="w-100 text-white">
				<h1 class="display-3 title_header">Maison MV</h1>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="bandeau">
			<div class="col-md-4 col-sm-4">
                <i class="fas fa-map"></i>
                <p class="paragraphHeader">21 Place aux Huiles <br/>13001 Marseille</p>
            </div>
			<div class="col-md-4 col-sm-4">
                <i class="fas fa-mobile-alt"></i>
                <p class="paragraphHeader">04 88 04 66 20</p>
            </div>
            <div class="col-md-4 col-sm-4">
                <i class="fas fa-clock"></i>
                <p class="paragraphHeader">de 12h à 14h30 et de 20h à 23h00 (sauf lundi)</p>
            </div>

		</div>

	</div>
</div>
</header>
<main>

	<div id="about" class="colorlib-about">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="row">
						<div class="about-desc">
							<div class="col-md-12 col-md-offset-0 animate-box intro-heading fadeInUp animated">
								<h2>Un moment agréable pour de nouvelles saveurs &amp; Maintenant ou jamais...</h2>
							</div>
							<div class="col-md-12 animate-box fadeInUp animated">
								<p class="text-intro">Far far away, behind the word mountains, far from the countries
									Vokalia and Consonantia, there live the blind texts. Separated they live in
									Bookmarksgrove right at the coast of the Semantics.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<div class="row">
						<div class="col-md-6 animate-box fadeInUp animated">
							<div class="about-img img-fluid" style="background-image: url(asset/img/chef.jpg);">
							</div>
						</div>
						<div class="col-md-6 animate-box fadeInUp animated">
							<div class="about-img about-img-2 img-fluid"
								style="background-image: url(asset/img/salle.jpg);">
							</div>
						</div>
					</div>
				</div>
				<div class="container row mt-5 text-about">
				<p>La chaleureuse adresse tradi-chic de Thomas Mozer (en salle) et Gianni Vario (au piano) a vu le jour sur la place aux Huiles en octobre 2018 : pierres apparentes, banquettes rouges, pimpant sol mosaïqué, nappes blanches impec’ et terrasse ensoleillée… Les cases sont bien cochées ! Depuis la cuisine ouverte, Gianni fignole des assiettes de marché bien tournées : filet de thon mariné et échalotes au vinaigre de riz ; lotte façon bouillabaisse ; côte de porc, purée de petits pois et carottes glacées ; assiette de fromage à la truffe ; poire pochée et soupe de chocolat… Accompagnez-les des flacons qui font de l'oeil depuis la cave vitrée.</p>
				</div>
			</div>
		</div>
	</div>


	{% endblock %}