
{% extends 'base.html.twig' %}

{% block title %}Hello GalerieController!{% endblock %}

{% block body %}
<div class="headerCave carousel-inner">
<img class="d-block w-100" src="asset/img/galerie.jpg">
<div class="overlay"></div>
</div>
</header>
<main>
    
<!-- Portfolio section start -->
		<div class="portfolio-warp">
			<!-- single item -->
			<div class="mix single-portfolio set-bg photo" data-setbg="asset/img/galerie/img-1.jpg">
                <img src="asset/img/galerie/img-1.jpg" alt="img-1">
				<a href="#" class="portfolio-info">
					<div class="pfbg set-bg" data-setbg="asset/img/galerie/img-1.jpg"></div>
					<h5>Summer in the desert</h5>
					<p>Landscape Photography</p>
				</a>
			</div>
			<!-- single item -->
			<div class="mix single-portfolio set-bg wedding" data-setbg="img/portfolio/2.jpg">
            <img src="asset/img/galerie/img-2.jpg" alt="img-2">
				<a href="#" class="portfolio-info">
					<div class="pfbg set-bg" data-setbg="img/portfolio/2.jpg"></div>
					<h5>Summer in the desert</h5>
					<p>Landscape Photography</p>
				</a>
			</div>
			<!-- single item -->
			<div class="mix single-portfolio set-bg land" data-setbg="img/portfolio/3.jpg">
            <img src="asset/img/galerie/img-3.jpg" alt="img-3">
				<a href="#" class="portfolio-info">
					<div class="pfbg set-bg" data-setbg="img/portfolio/3.jpg"></div>
					<h5>Summer in the desert</h5>
					<p>Landscape Photography</p>
				</a>
			</div>
			<!-- single item -->
			<div class="mix single-portfolio sm-wide set-bg port" data-setbg="img/portfolio/4.jpg">
            <img src="asset/img/galerie/img-4.jpg" alt="img-4">
				<a href="#" class="portfolio-info">
					<div class="pfbg set-bg" data-setbg="img/portfolio/4.jpg"></div>
					<h5>Summer in the desert</h5>
					<p>Landscape Photography</p>
				</a>
			</div>
			<!-- single item -->
			<div class="mix single-portfolio sm-wide set-bg photo" data-setbg="img/portfolio/5.jpg">
            <img src="asset/img/galerie/img-5.jpg" alt="img-2">
				<a href="#" class="portfolio-info">
					<div class="pfbg set-bg" data-setbg="img/portfolio/5.jpg"></div>
					<h5>Summer in the desert</h5>
					<p>Landscape Photography</p>
				</a>
			</div>
			<!-- single item -->
			<div class="mix single-portfolio set-bg wedding" data-setbg="img/portfolio/6.jpg">
            <img src="asset/img/galerie/img-6.jpg" alt="img-2">
				<a href="#" class="portfolio-info">
					<div class="pfbg set-bg" data-setbg="img/portfolio/6.jpg"></div>
					<h5>Summer in the desert</h5>
					<p>Landscape Photography</p>
				</a>
			</div>
			<!-- single item -->
			<div class="mix single-portfolio sm-wide set-bg land" data-setbg="img/portfolio/7.jpg">
            <img src="asset/img/galerie/img-7.jpg" alt="img-2">
				<a href="#" class="portfolio-info">
					<div class="pfbg set-bg" data-setbg="img/portfolio/7.jpg"></div>
					<h5>Summer in the desert</h5>
					<p>Landscape Photography</p>
				</a>
			</div>
			<!-- single item -->
			<div class="mix single-portfolio set-bg port" data-setbg="img/portfolio/8.jpg">
            <img src="asset/img/galerie/img-8.jpg" alt="img-2">
				<a href="#" class="portfolio-info">
					<div class="pfbg set-bg" data-setbg="img/portfolio/8.jpg"></div>
					<h5>Summer in the desert</h5>
					<p>Landscape Photography</p>
				</a>
			</div>
			<!-- single item -->
			<div class="mix single-portfolio set-bg photo" data-setbg="img/portfolio/9.jpg">
            <img src="asset/img/galerie/img-9.jpg" alt="img-2">
				<a href="#" class="portfolio-info">
					<div class="pfbg set-bg" data-setbg="img/portfolio/9.jpg"></div>
					<h5>Summer in the desert</h5>
					<p>Landscape Photography</p>
				</a>
			</div>
			<!-- single item -->
			<div class="mix single-portfolio set-bg wedding" data-setbg="img/portfolio/10.jpg">
            <img src="asset/img/galerie/img-10.jpg" alt="img-2">
				<a href="#" class="portfolio-info">
					<div class="pfbg set-bg" data-setbg="img/portfolio/10.jpg"></div>
					<h5>Summer in the desert</h5>
					<p>Landscape Photography</p>
				</a>
			</div>
		</div>
	</section>
    </main>
	<!-- Portfolio section end -->
{% endblock %}
