{% extends 'base.html.twig' %}

{% block title %}Hello GalerieController!{% endblock %}

{% block body %}
<div class="headerCave carousel-inner">
<img class="d-block w-100" src="asset/img/galerie.jpg">
<div class="overlay"></div>
<div class="titrePage">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3 title_header">Galerie</h1>
      </div>
    </div>
  </div>
</div>
</div>
</header>
{% endblock %}
