{% extends 'base.html.twig' %}

{% block title %}Edit Resa{% endblock %}

{% block body %}
    <h1>Edit Resa</h1>

    {{ include('resa/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('resa_index') }}">back to list</a>

    {{ include('resa/_delete_form.html.twig') }}
{% endblock %}
