<p class="text_newsletter">Inscrivez vous à la newsletter</p>

{{ form_start(form) class }}
    {{ form_widget(form) }}
    <button type="button" class="btn btn-success">Success</button>
{{ form_end(form) }}
